In [ ]:
from google.colab import files
uploaded = files.upload()

Saving diamonds.csv to diamonds (1).csv

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pandas as pd
import numpy as np

In [ ]:
# Read data from file 'diamonds.csv'
data=pd.read_csv("diamonds.csv") 
print(data)

       carat        cut color clarity   price
0       0.51    Premium     F     VS1  1749.0
1       2.25       Fair     G      I1  7069.0
2       0.70  Very Good     E     VS2  2757.0
3       0.47       Good     F     VS1  1243.0
4       0.30      Ideal     G    VVS1   789.0
...      ...        ...   ...     ...     ...
49995   0.71      Ideal     H    VVS1  2918.0
49996   0.43      Ideal     G    VVS2  1056.0
49997   1.14    Premium     G     VS2  6619.0
49998   1.01    Premium     E     VS2  6787.0
49999   1.77    Premium     J     VS2  9428.0

[50000 rows x 5 columns]

In [ ]:
data.head()

   carat        cut color clarity   price
0   0.51    Premium     F     VS1  1749.0
1   2.25       Fair     G      I1  7069.0
2   0.70  Very Good     E     VS2  2757.0
3   0.47       Good     F     VS1  1243.0
4   0.30      Ideal     G    VVS1   789.0

In [ ]:
#Show the statistics of the dataset
data.describe()

              carat         price
count  49994.000000  4.999700e+04
mean       0.798602  1.672039e+06
std        0.474653  3.729873e+08
min        0.200000  3.260000e+02
25%        0.400000  9.480000e+02
50%        0.700000  2.403000e+03
75%        1.040000  5.331000e+03
max        5.010000  8.340000e+10

In [ ]:
data.shape

(50000, 5)

In [ ]:
#Check the number of missing values
data.isna().sum()

carat      6
cut        0
color      0
clarity    0
price      3
dtype: int64

In [ ]:
#Get rid of all of those missing values
data.dropna(inplace=True)

NameError: ignored

In [ ]:
#Check the number of missing values
data.isna().sum()

carat      0
cut        0
color      0
clarity    0
price      0
dtype: int64

In [ ]:
#Defining feature matrix(x) and response vector(y)
X=data.drop(["cut","color","clarity","price"],axis=1)
y = data["price"]

In [ ]:
#Splitting x and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn import datasets, linear_model, metrics
#Create linear regression object
regressor= linear_model.LinearRegression()
#Train the model using the training sets
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Regression coefficients
print('Coefficients:', regressor.coef_)

Coefficients: [7733.76037149]

In [ ]:
print('Varience score: {}' .format(regressor.score(X_test,y_test)))

Varience score: -0.00010009738897531761

In [ ]:
print('Varience score: {}' .format(regressor.score(X_train,y_train)))

Varience score: 0.8486598211685219

In [ ]:
data = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
data

       Actual    Predicted
26647  3548.0  4328.952439
23433   910.0   926.097875
11433  2453.0  3168.888383
8683   7665.0  5566.354098
32922   684.0   616.747460
...       ...          ...
41647  3472.0  5489.016494
18341  5201.0  4715.640457
47089   958.0  1003.435479
27006   828.0   230.059442
19083   743.0   307.397046

[9999 rows x 2 columns]

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 8341843.611957279
Mean Squared Error: 6.956255496900461e+17
Root Mean Squared Error: 834041695.4145914